<!doctype html>
<html class="no-js" lang="pt-br" data-ng-app="app">
<head>
  <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">


  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Thiago Henrique Poiani</title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <style>
    [ng\:cloak], [data-ng-cloak], .data-ng-cloak {
      display: none !important;
    }
  </style>

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

</head>
<body>
  <header class="transition">
    <h1>Thiago Henrique Poiani</h1>
  </header>

  <main>
    <section>
      <h2 class="transition" id="sobre"><i class="fa fa-book"></i> Sobre</h2>
      <p class="about">
        Mestrando em <strong>Ciências da Computação</strong> no Instituto de Ciências Matemáticas e de Computação da <a href="http://www.icmc.usp.br/" target="_blank" title="ICMC-USP">Universidade de São Paulo</a>.
        <br>
        Cursando especialização em <strong>Desenvolvimento de Software para Web</strong> na <a href="http://www.ufscar.br" target="_blank" title="UFSCar">Universidade Federal de São Carlos</a>.
        <br>
        Tecnólogo em <strong>Análise e Desenvolvimento de Sistemas</strong> pelo <a href="http://www.ifspsaocarlos.edu.br/" target="_blank" title="IFSP">Instituto Federal de Educação, Ciência e Tecnologia de São Paulo, campus São Carlos</a>.
      </p>
    </section>

    <section data-ng-controller="ProjectController as project">
      <h2 class="transition" id="projetos"><i class="fa fa-code"></i> Projetos</h2>

      <ul class="cards">
        <li class="card small" data-ng-repeat="project in project.projects" data-ng-cloak>
            <a data-ng-href="{{project.gsx$link.$t}}" target="_blank">
              <p class="year">{{project.gsx$year.$t}}</p>

              <figure>
                  <figcaption>
                    <h3>{{project.gsx$name.$t}}</h3>
                  </figcaption>
                <img data-ng-src="{{project.gsx$image.$t}}" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="{{project.gsx$title.$t}}">
              </figure>

              <div class="description">
                <p>{{project.gsx$description.$t}}</p>
              </div>
            </a>
        </li>
      </ul>
    </section>

    <section data-ng-controller="ResearchController as research">
      <h2 class="transition" id="pesquisas"><i class="fa fa-university"></i> Pesquisas</h2>

      <ul class="cards">
        <li class="card large" data-ng-repeat="research in research.researches" data-ng-cloak>
          <a data-ng-href="{{research.gsx$link.$t}}" target="_blank">
            <p class="year">{{research.gsx$year.$t}}</p>
            <h3>{{research.gsx$title.$t}}</h3>

            <div class="description">
              <p>{{research.gsx$authors.$t}}</p>
              <p>{{research.gsx$abstract.$t}}</p>
            </div>
          </a>
        </li>
      </ul>
    </section>

    <section data-ng-controller="EventController as event">
      <h2 class="transition" id="eventos"><i class="fa fa-users"></i> Eventos</h2>

      <ul class="cards">

        <li class="card small" data-ng-repeat="event in event.events" data-ng-cloak>
          <a data-ng-href="{{event.gsx$link.$t}}" target="_blank">
            <p class="year">{{event.gsx$year.$t}}</p>

            <figure>
                <figcaption>
                  <h3>{{event.gsx$name.$t}}</h3>
                </figcaption>
              <img data-ng-src="{{event.gsx$image.$t}}" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="{{event.gsx$title.$t}}">
            </figure>

            <div class="description">
              <p><strong>{{event.gsx$title.$t}}</strong></p>
              <p>{{event.gsx$category.$t}}</p>
              <p>Local: {{event.gsx$local.$t}}</p>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </main>

  <script src="js/main.js"></script>

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="js/app.module.js"></script>
  <script src="js/controllers/project.js"></script>
  <script src="js/controllers/research.js"></script>
  <script src="js/controllers/event.js"></script>
</body>
</html>
