<!doctype html>
<html class="no-js" lang="pt-br" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Thiago Henrique Poiani</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body ng-controller="IndexController as index">
  <header>
    <h1>{{index.author.name}}</h1>
  </header>

  <main>
    <section>
      <h2>Sobre</h2>
      <p ng-bind-html="index.author.about"></p>
    </section>

    <section ng-controller="ProjectController as project">
      <h2>Projetos</h2>

      <ul>
        <li ng-repeat="project in project.projects">
          <a href="{{project.link}}" target="_blank">
            <p class="year">{{project.year}}</p>
            <figure>
              <img ng-src="{{project.image}}" alt="">
              <figcaption>{{project.name}}</figcaption>
            </figure>
            <p>{{project.description}}</p>
          </a>
        </li>
      </ul>
    </section>

    <section ng-controller="ResearchController as research">
      <h2>Pesquisas</h2>

      <ul>
        <li ng-repeat="research in research.researchs">
          <a href="{{research.link}}" target="_blank">
            <p class="year">{{research.year}}</p>
            <figure>
              <img ng-src="{{research.image}}" alt="">
              <figcaption>{{research.authors}}</figcaption>
            </figure>
            <p>{{research.title}}</p>
            <p>{{research.abstract}}</p>
          </a>
        </li>
      </ul>
    </section>

    <section ng-controller="EventController as event">
      <h2>Eventos</h2>

      <ul>
        <li ng-repeat="event in event.events">
          <a href="{{event.link}}" target="_blank">
            <p class="year">{{event.year}}</p>
            <figure>
              <img ng-src="{{event.image}}" alt="">
              <figcaption>{{event.name}}</figcaption>
            </figure>
            <p>{{event.local}}</p>
            <p>{{event.category}}</p>
            <p>{{event.title}}</p>
          </a>
        </li>
      </ul>
    </section>
  </main>

  <script src="js/main.js"></script>

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="js/app.module.js"></script>
  <script src="js/controllers/index.js"></script>
  <script src="js/controllers/project.js"></script>
  <script src="js/controllers/research.js"></script>
  <script src="js/controllers/event.js"></script>
</body>
</html>
